#root{
    /* font-family: 'Nova Oval', cursive; */
    /* font-family:'Aboreto', cursive */
    font-family: 'Philosopher', sans-serif;
    cursor:url()
}

button:hover{
    color: cyan;
    background-color: #fff;
}